<!-- <app-my-nav></app-my-nav> -->
<mat-toolbar color="primary">
    <span>Quick Tracker</span>
</mat-toolbar>

<br />
<div class="map-container container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-2 container-fluid">
            <div class="row">
                <mat-form-field>
                    <mat-select placeholder="Select Order">
                        <mat-option *ngFor="let order of orders" [value]="order.value">
                            {{ order.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <button mat-raised-button (click)="openBottomSheet()">Order Details</button>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 container-fluid">
            <app-map-track></app-map-track>
        </div>
    </div>
</div>
