<!-- <app-my-nav></app-my-nav> -->
<mat-toolbar color="primary">
    <span>Quick Tracker</span>
</mat-toolbar>

<br />
<div class="map-container container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2">
            <div class="row container-fluid">
            <!-- <mat-card>
                <mat-form-field>
                    <mat-select [(value)]="orderId" placeholder="Select Order">
                        <mat-option *ngFor="let order of orders" [value]="order.value">
                            {{ order.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card> -->
            <div class="col-xs-4">
                <mat-form-field>
                    <mat-select [(value)]="orderId" placeholder="Select Order">
                        <mat-option *ngFor="let order of orders" [value]="order.value">
                            {{ order.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-xs-6 order-details-btn">
                <button mat-raised-button [color]="'primary'" (click)="openBottomSheet()">Order Details</button>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 container-fluid">
            <app-map-track [orderId]='orderId'></app-map-track>
        </div>
    </div>
</div>
