<!-- <app-my-nav></app-my-nav> -->
<!-- <mat-toolbar color="primary">
    <span>Quick Tracker</span>
</mat-toolbar> -->
<mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'push' : 'side'" [opened]="!(isHandset | async)!.matches">
            <mat-toolbar color="primary">Menu</mat-toolbar>
            <mat-nav-list>
                <a mat-list-item href="#">Track Order</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span>Quick Tracker</span>
            </mat-toolbar>
        </mat-sidenav-content>
        <mat-sidenav-content>
                <div class="map-container container">
                        <app-map-track></app-map-track>
                    </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
<!-- <br> -->

